<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>string</key>
		<string>string</string>
		<key>intValue</key>
		<integer>124</integer>
		<key>floatValue</key>
		<string>12.23</string>
		<key>date</key>
		<date>2018-05-04T08:45:15Z</date>
		<key>size</key>
		<string>{2.3,23}</string>
		<key>demoStruct</key>
		<string>455,12.1</string>
		<key>subModels</key>
		<array>
			<dict>
				<key>string</key>
				<integer>123</integer>
				<key>number</key>
				<string>9920.22</string>
			</dict>
			<dict>
				<key>string</key>
				<integer>1234</integer>
				<key>number</key>
				<real>90.22</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>string</key>
		<string>string</string>
		<key>intValue</key>
		<integer>124</integer>
		<key>floatValue</key>
		<real>12.231</real>
		<key>date</key>
		<string>2018-05-04</string>
		<key>size</key>
		<string>{2.3,23}</string>
		<key>demoStruct</key>
		<string>455,12.1</string>
		<key>subModels</key>
		<array>
			<dict>
				<key>string</key>
				<integer>123</integer>
				<key>number</key>
				<string>9920.22</string>
			</dict>
			<dict>
				<key>string</key>
				<integer>1234</integer>
				<key>number</key>
				<real>90.22</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>string</key>
		<string>string</string>
		<key>intValue</key>
		<integer>124</integer>
		<key>floatValue</key>
		<string>12.23</string>
		<key>date</key>
		<false/>
		<key>size</key>
		<date>2018-05-04T08:50:42Z</date>
		<key>demoStruct</key>
		<string>455,12.1</string>
		<key>subModels</key>
		<array>
			<dict>
				<key>string</key>
				<integer>123</integer>
				<key>number</key>
				<string>9920.22</string>
			</dict>
			<dict>
				<key>string</key>
				<integer>1234</integer>
				<key>number</key>
				<real>90.22</real>
			</dict>
		</array>
	</dict>
</array>
</plist>
